header {
  background-color: #fff2dc;
  padding: 0 1%;
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  max-height: 10%;
}

#navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  padding: 10px;
  margin: 0px;
  border: none;
  margin-top: -10px;
  margin-left: -50px;
}

.logo {
  width: 10%;
  z-index: 1;
}
.logo img {
  width: 50%;
  position: relative;
}
#nav {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#nav > a {
  color: black;
  padding: 4px 20px;
  font-size: 20px;
  transition: transform ease-in-out 0.1s;
}

#nav > a:hover {
  transform: scale(1.2);
  color: brown;
}

#nav > a:active {
  color: rgb(255, 52, 52);
}

.nav-icon {
  color: #b6a281;
  padding: 0px 5px;
  transition: transform ease-in-out 0.1s;
}

.nav-icon:hover {
  transform: scale(1.5);
  color: brown;
}

.nav-icon:active {
  color: rgb(255, 52, 52);
}

/* RETURN TO TOP BUTTON */
.return-top {
  font-size: 20px;
  font-weight: bolder;
  border: 1px solid black;
  border-radius: 50%;
  padding: 1% 1.55%;
  position: fixed;
  bottom: 1%;
  right: 1%;
  transform: scale(1);
  color: black;
  transition: transform 0.5s ease-in-out, background-color 0.5s linear,
    color 0.5s linear;
}

.return-top:hover {
  background-color: black;
  color: whitesmoke;
  transform: scale(1.2);
}

/* FOOTER */
footer {
  background-color: #fff2dc;
  padding-bottom: 1%;
}

#footer {
  max-width: 80%;
  left: 10%;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  margin: 0px;
  border: none;
  padding: 2% 0px;
}

#footer > div {
  display: flex;
  flex-direction: column;
}

#footer > div > h3 {
  color: #826d4d;
}

#footer > div > a {
  color: black;
  padding: 5px 0em;
  font-weight: lighter;
}

.footer-logo > div {
  color: black;
  font-size: 25px;
  padding-right: 10px;
}

#footer ~ p {
  line-height: 0;
  font-weight: lighter;
}

#footer > div > a:hover,
.footer-logo > .fa-brands:hover {
  color: brown;
}

#subscribe-button {
  background-color: #b6a281;
  border-radius: 8px;
  border: none;
  color: white;
  font-weight: 600;
  padding: 10px 0px;
  margin-top: 5px;
  margin-bottom: -5px;
}

#subscribe-button:hover {
  transform: scale(1.05);
}

/* COPYRIGHT */

.greyline {
  position: relative;
  max-width: 80%;
  left: 10%;
  border: 1px solid rgba(108, 108, 108, 0.5);
}
.copyright {
  position: relative;
  left: 10%;
  text-align: center;
  font-size: 12px;
  max-width: 80%;
  line-height: 0;
  margin-top: 1%;
}
