header {
  background-color: #fff2dc;
  padding: 0 1%;
  position: fixed;
  z-index: 99;
  width: 100%;
}

#navbar {
  max-width: 80%;
  left: 10%;
  position: sticky;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  padding: 10px;
  margin: 0px;
  border: none;
  color: black;
}

#navbar > img {
  align-items: left;
  width: 2%;
  padding: none;
  margin: none;
}

#navbar > #nav {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#nav > a {
  color: black;
  padding: 4px 20px;
  font-size: 20px;
  transition: transform ease-in-out 0.1s;
}

#nav > a:hover {
  transform: scale(1.2);
  color: brown;
}

#nav > a:active {
  color: rgb(255, 52, 52);
}

#nav-icon > a {
  color: white;
  padding: 0px 5px;
  transition: transform ease-in-out 0.1s;
}

#nav-icon > a:hover {
  transform: scale(1.5);
}

#nav-icon > a:active {
  color: rgb(255, 52, 52);
}
