.sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #007AFF;
  padding: 20px;
  z-index: 1200;
  color: #FFFFFF;
  font-family: "Bangers", sans-serif;
 }

body {
  margin: 0;
  padding: 0;
}

main {
  padding: 20px;
  margin-top: 100px;
}

section {
  margin-bottom: 20px;
}

h1 {
  margin-bottom: 10px;
}

nav {
  background-color: #003366;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

nav a:hover {
  background-color: #555;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #f1f1f1;
  color: #333;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

footer {
  background-color: #007AFF;
  color: #fff;
  padding: 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-content p {
  margin: 0;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

nav a:hover {
  text-decoration: underline;
}

.image-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  position: relative;
  margin: 10px;
}

.popout-image {
  position: absolute;
  top: 66px;
  left: 530px;
  width: 193px;
  height: 129px; 
  transform: translateX(-50%) scale(1);
  transition: transform 0.3s ease-in-out;
}

.popout-image:hover {
  transform: translateX(-50%) scale(1.1);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-image-container {
  position: relative;
  margin: 10px;
  text-align: center;
  display: inline-flex;
  align-items: flex-end;
  border: 2px solid #ccc; /* Adjust the border size as needed */
  margin-right: 20px;
}

.small-image-container img {
  width: 100%; /* Adjust the width as needed */
  height: auto;
  border: 2px solid #ccc; /* Adjust the border size to match the container */
}

.small-image-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Adjust the background color as needed */
  color: #fff; /* Adjust the text color as needed */
  padding: 10px;
  text-align: start;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 2px solid #ccc; /* Adjust the border size to match the container */
}



