header {
  background-color: #fff2dc;
  padding: 0 1%;
  position: fixed;
  z-index: 99;
  width: 100%;
  max-height: 10%;
}

#navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  padding: 10px;
  margin: 0px;
  border: none;
  margin-top: -10px;
  margin-left: -50px;
}

.logo {
  width: 10%;
  z-index: 1;
}
.logo img {
  width: 50%;
  position: relative;
}
#nav {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#nav > a {
  color: black;
  padding: 4px 20px;
  font-size: 20px;
  transition: transform ease-in-out 0.1s;
}

#nav > a:hover {
  transform: scale(1.2);
  color: brown;
}

#nav > a:active {
  color: rgb(255, 52, 52);
}

.nav-icon {
  color: #b6a281;
  padding: 0px 5px;
  transition: transform ease-in-out 0.1s;
}

.nav-icon:hover {
  transform: scale(1.5);
  color: brown;
}

.nav-icon:active {
  color: rgb(255, 52, 52);
}
