* {
    box-sizing: border-box;
  }
  
  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Style the container/contact section */
  .container{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  

  .container-contact{
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 5px;
    text-align:left;
    color: #b6a281;
    font-size: 25px;
    width: 100%;
  }

  .container-text{
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
  }

  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }

  .column > h2{
    margin-left: 22%;
  }

  .column > p{
    margin-left: 22%;
  }

  .column > address {
    margin-left: 22%;
  }

  .column > form {
    margin-right: 22%;
  }

  .column > form > 

  .column img{
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
    margin: 1.0em auto;
    max-width: 75%; 
  }
  .country{
    float: left;
    width: 40%;
    margin-top: 6px;
    padding: 1% 5px 1% 0px;
  }
  .number {
    float: left;
    width: 60%;
    margin-top: 6px;
    padding: 1% 1% 1% 5px;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .comment{
    position:relative;
    display: inline-block;
    width:100%;
  }
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

  .media-logo > a {
    color: black;
    font-size: 400%;
    /* padding-right: 0.01%; */
  }
  
  /* img {
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
} */

